<link rel="stylesheet" type="text/css" href="footer.css">
<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
  </div>
  
  <h2  style="text-align:center">Our Team</h2>
    <div  style="text-align: center;" class="row">
        <div  class="column">
          <div class="card">
            <img src="../assets/minhaj.jpeg" alt="Jane" style="width:100%">
            <div class="container">
              <h2>Minhaj Uddin</h2>
              <p class="title">CEO & Founder(Software Engineer)</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>minhaj@example.com</p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="../assets/minhaj.jpeg" alt="Mike" style="width:100%">
            <div class="container">
              <h2>Tanmoy</h2>
              <p class="title">Software Engineer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>tanmoy@example.com</p>
            </div>
          </div>
        </div> 
</div>